body{
    background-color:#FFFFFF;
    background-image: linear-gradient(#FFFF, #90C7E3);
    color:#666666;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color:#000033;
    color:#FFFFFF;
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

nav{
    background-color:#FFFFFF;
    font-weight:bold;
    text-align: center;
    padding: 10px;
}

h1, h2, h3 {
    font-family:Georgia, 'Times New Roman', Times, serif
}

h3 {
    color: #000033;
}

h2{
    text-shadow: 1px 1px #CCCC;
    color:#000033;
}

h1 {
    margin-top: 0px;
    margin-bottom:0px;
}

ul {
    list-style-image: url(images/marker.gif);
}

main{
    padding: 1px 20px 20px;
}

footer {
    font-size: 75%;
    padding: 20px;
}

.resort{
    color:#5C7FA3;
    font-weight: 700;
}

#contact {
    font-size:90%;
}

#wrapper {
    width: 80%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px #333333;
}

#homehero{
    height: 300px;
    background-image: url(images/coast.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#trailhero{
    height: 300px;
    background-image: url(images/trail.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(images/yurt.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
